.wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px - 46.8px)
}

.total {
    background: var(--total-bg);
    display: flex;
    justify-content: space-between;
    color: var(--total-text);
    margin: 16px;
    font-size: 15px;
    font-weight: 600;
    border-radius: var(--input-radius);
    padding: 0 16px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    >li {
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;

        &:first-child {
            color: var(--total-expenses);
        }

        &:nth-child(2) {
            color: var(--total-income);
        }

        >.numberSize {
            font-size: 20px;
            font-weight: 700;
        }
    }
}

.bg {
    min-height: 11px;
    margin: 0 16px;
    border-radius: 10px;
    background: var(--total-text);
    position: relative;
    top: 4px;
    z-index: -1;
}

.list {
    margin: 0 24px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    >li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dashed var(--button-border-color);
        padding: 12px 16px;
        background: var(--total-bg);

        &:nth-child(1) {
            border-radius: 2px 2px 0 0;
        }

        &:nth-last-child(2) {
            border-radius: 0 0 10px 10px;
            border-bottom: 1px solid white;
        }
    }

    .sign {
        flex-grow: 0;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: var(--list-sign-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }

    .text {
        margin-right: 4px;
        margin-left: 4px;
        flex-grow: 1;
        flex-shrink: 1;

        .tag {
            color: var(--list-tag-text);
        }

        .time {
            color: var(--list-time-text);
            margin-top: 4px;
            font-size: 14px;

        }
    }

    .amount {
        color: var(--total-income);
        font-weight: 700;
    }
    .amountRed {
        color: var(--total-expenses);
        font-weight: 700;
    }
}

.more {
    padding: 16px;
    text-align: center;
    color: var(--list-time-text);
}
.button {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &_wrapper {
        padding: 16px 16px;
    }
}

.noData_wrapper {
    padding: 80px 0;

    .noData {
        width: 128px;
        height: 128px;
    }

    >span {
        font-size: 18px;
        color: #969593;
    }
}