.more{
    padding: 16px;
    text-align: center;
    .loadMore{
        color: var(--emoji-nav-text);
    }
    .noMore{
        color: var(--emoji-nav-text);
    }
  }
.createTag {
    fill: var(--float-button-text);
  }
.tags_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
  }
  .tag {
    position: relative;
    width: 20vw;
    height: calc(20vw * 1.14);
    display: flex;
    flex-direction: column;
    align-items: center;
    .sign {
      width: 12vw;
      height: 12vw;
      background: var(--tag-bg);
      border: 1px solid var(--tag-bg);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      &.createButton{
        background: var(--button-bg);
        border: 1px var(--selectedTag-bg)

      }
    }
    .name {
      font-size: 12px;
      margin-top: 4px;
    }
    &.selected {
      .sign {
        background:  var(--selectedTag-bg);
        border: 1px solid var(--button-bg);
        animation: shake 0.3s linear;
      }
    }
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(20deg);
    }
    40% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }