.text{
    margin-top: 16px;
    text-align: center;
    font-size: 28px;
    color: var(--emoji-nav-text);
  }
  
  .coming{
    width: 128px;
    height: 128px;

  }
  .wrapper{
    margin-top: 120px;
  }