.navbar{
    background: var(--navbar-bg);
    color: var(--navbar-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 16px 12px;
    z-index: 20;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  .title_wrapper{
    font-size: 18px;
    margin-left: 12px;
    font-weight: 700;
  }
  .icon_wrapper{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    > svg {
      width: 26px;
      height: 26px;
    }
  }