.tabs {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);

  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--navbar-text);
    position: relative;
    z-index: 1;
    top: 0;
    background: var(--navbar-bg);
    flex-grow: 0;
    flex-shrink: 0;
    > li {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 16px 0 10px 0;

      &.selected {
        color: var(--tabs-selected-text);
        font-weight: 700;
      }
    }
    .indicator {
      position: absolute;
      display: block;
      bottom: 0;
      height: 2px;
      border-radius: 10px 10px 0 0;
      background: var(--tabs-indicator-bg);
      transition: all 250ms;
    }
  }
  .tabsList {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
  }
}
