.button {
    width: 100%;

    &_wrapper {
        padding: 16px 16px;
    }
}

.noData_wrapper {
    padding: 80px 0;
    flex-direction: column;
    .noData {
        width: 128px;
        height: 128px;
    }
    >span{
        font-size: 18px;
        color: #969593;
    }
}