.wrapper_bg {
  background: white;
  margin: 0 8px 0 8px;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  .title {
    margin-top: 16px;
    padding: 10px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    color: var(--welcome-text);
  }
  .wrapper {
    max-height: 321px;
    padding-bottom: 1px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .topItem {
    margin-bottom: 16px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .sign {
      flex-grow: 0;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--list-sign-bg);
      border-radius: 50%;
    }
    .bar_wrapper {
      margin-left: 8px;
      flex-grow: 1;
      flex-shrink: 1;
      .bar_text {
        color: var(--list-tag-text);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .bar {
        height: 8px;
        border-radius: 4px;
        background: var(--list-sign-bg);
        position: relative;
        overflow: hidden;
        margin-top: 4px;
      }
      .bar_inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: width 500ms;
      }
    }
    .expensesBar {
      background-image: linear-gradient(to right, #ffacae 0%, #ff4f52 100%);
    }
    .incomeBar {
      background-image: linear-gradient(to right, #77e0c8 0%, #53A867 100%);
    }
  }
}
.notData{
  text-align: center;
  margin-bottom: 20px;
  color: var(--emoji-nav-text);
}
.noData_wrapper {
  padding: 80px 0;

  .noData {
      width: 128px;
      height: 128px;
  }

  >span {
      font-size: 18px;
      color: #969593;
  }
}
