.wrapper {
    padding-top: 16px;

    .select {
        display: flex;
        justify-content: center;
        .input {
            width: 90%;
            text-align: center;
            border-radius: 10px;
            background: var(--select-bg);
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        .green {
            background: var(--total-income);
        }
    }

}
.noData_wrapper {
    padding: 80px 0;

    .noData {
        width: 128px;
        height: 128px;
    }

    >span {
        font-size: 18px;
        color: #969593;
    }
}



