.wrapper {
    height: 211px;
    background: white;
}
.title{
    background: white;
    margin-top: 16px;
    padding: 10px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    color: var(--welcome-text);
}