.z {
  background: white;
  margin: 0 8px 0 8px;
  border-radius: 10px;

  .lineChartWrapper {
    overflow: auto;
    .wrapper {
      height: 211px;
      width: 440%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    .lineChartWeek {
        width: 100%;
        height: 25vh;
      }
  }
  .title {
    margin-top: 16px;
    padding: 10px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    color: var(--welcome-text);
  }
}
