:root{
    --welcome-card-bg:white;
    --welcome-text: #1c2b33;
    --welcome-bg:#edeff3;
    --welcome-nav-height: 64px;
    --welcome-nav-gap: 8px;
    --z-index-bottom-nav: 8; 
    --z-index-overlay: 16;
    --transition-duration: 0.5s;
    --button-bg:#0081fa;
    --button-text:white;
    --button-font-size:18px;
    --button-radius:8px;
    --button-height:48px;
    --float-button-text: white;
    --float-button-bg:var(--button-bg);
    --navbar-bg: var(--welcome-bg);
    --navbar-text:#1c2b33;
    --overlay-user-text: #1c2b33;
    --overlay-bg: #f9fafb;
    --top-safe-area-height: 66px;
    --tabs-indicator-bg:var(--button-bg);
    --tabs-selected-text:var(--button-bg);
    --button-border-color: #ddd;
    --amount-text: #53A867;
    --date-text: #1c2b33;
    --dateAndAmount-bg:white;
}