:root{
    --welcome-card-bg:white;
    --welcome-text: #1c2b33;
    --welcome-bg:#edeff3;
    --welcome-nav-height: 64px;
    --welcome-nav-gap: 8px;
    --z-index-bottom-nav: 8; 
    --z-index-overlay: 16;
    --transition-duration: 0.5s;
    --button-bg:#0081fa;
    --button-text:white;
    --button-font-size:16px;
    --button-radius:8px;
    --button-height:48px;
    --button-bg-danger: #ec4242;
    --float-button-text: white;
    --float-button-bg:var(--button-bg);
    --navbar-bg: var(--welcome-bg);
    --navbar-text:var(--welcome-text);
    --overlay-user-text:var(--welcome-text);
    --overlay-bg: #f9fafb;
    --top-safe-area-height: 56px;
    --tabs-indicator-bg:var(--button-bg);
    --tabs-selected-text:var(--button-bg);
    --button-border-color: #ddd;
    --amount-text: #0081fa;
    --date-text: var(--welcome-text);
    --dateAndAmount-bg:white;
    --inputPad-button-bg:white;
    --inputPad-border:#edeff3;
    --inputPad-radius:10px;
    --inputPad-text:var(--welcome-text);
    --button-active:#f6f7f9;
    --inputPad-button-bg-ok:var(--amount-text);
    --button-active-ok:#79a4f9; 
    --input-min-height: 48px;
    --input-border-color: white;
    --input-radius: var(--inputPad-radius);
    --input-shadow: rgba(0,0,0,0.25);
    --error-color: #E10505;
    --emoji-nav-text: #999;
    --emoji-nav-text-selected: #333;
    --emojiList-bg:white;
    --selectedEmoji-bg:#69b2f6;
    --tag-bg:white;
    --selectedTag-bg:#69b2f6;
    --selectedTag-border:#69b2f6;
    --list-tag-text: var(--welcome-text);
    --list-sign-bg:var(--welcome-bg);
    --list-amount-text: var(--amount-text);
    --list-time-text: var(--emoji-nav-text);
    --total-bg: white;
    --total-text: var(--welcome-text);
    --total-income: #FE7275;
    --total-expenses: #53A867;
    --dialog-header-text: white;
    --bg:var(--welcome-bg);
    --select-bg:#ff4f52;
}