:root{
    --welcome-card-bg:white;
    --welcome-text: #1c2b33;
    --welcome-bg:#edeff3;
    --welcome-nav-height: 64px;
    --welcome-nav-gap: 8px;
    --z-index-bottom-nav: 10; 
    --transition-duration: 0.5s;
}